@import "src/scss/variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 25%;
  gap: 50px;
  width: 75%;
  min-height: 100vh;
  background: $bgColor;

  .leftSide {
    position: relative;
    border-radius: 100%;

    .photo {
      position: relative;
      border: 10px solid rgba(255, 255, 255, 0.73);
      padding: 0;
      width: 250px;
      height: 250px;
      animation: morph 8s ease-in-out infinite;



      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 100%;
        animation: morph 8s ease-in-out infinite;
      }
    }
  }
  .rightSide {
    color: $primaryColor;

    .containerForSpan {
      height: 1em;
    }

    h1 {
      font-family: 'Tilt Warp', cursive;
      font-size: 40px;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 14px;
      letter-spacing: 5px;

      span {
        display: inline-block;
        opacity: 0;
        filter: blur(4px);

        &:nth-child(1) {
          animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }

        &:nth-child(2) {
          margin-left: 20px;
          animation: fade-in 1s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }
      }
    }

    div {
      span {
        display: inline-block;
        opacity: 0;
        filter: blur(4px);
        font-size: 20px;
        letter-spacing: 3px;
        animation: fade-in 1s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
    }

    .contacts {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      opacity: 0;
      filter: blur(4px);
      animation: fade-in 1s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);

      .icon {
        cursor: pointer;
        fill: white;
        width: 20px;
        height: 20px;
      }
    }
  }
}


@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}


@media (max-width: 1025px) {
  .container {

    .leftSide {
      .photo {
        width: 200px;
        height: 200px;

        img {
          width: 200px;
          height: 200px;
        }
      }



    }

    .rightSide {

      h1 {

        span {
          font-size: 25px;
        }
      }

      div {
        span {
          font-size: 25px;
        }
      }

      .contacts {

        .icon {
          width: 30px;
          height: 30px;
        }
      }
    }

  }
}

@media (max-width: 913px) {
  .container {
    position: relative;
    left: 100px;
    flex-direction: column;

    .leftSide {
      .photo {
        width: 400px;
        height: 400px;

        img {
          width: 400px;
          height: 400px;
        }
      }



    }

    .rightSide {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      h1 {

        span {
          font-size: 40px;
        }
      }
    }

  }
}

@media (max-width: 540px) {
  .container {
    left: 70px;

    .leftSide {
      .photo {
        width: 250px;
        height: 250px;

        img {
          width: 250px;
          height: 250px;
        }
      }

    }

    .rightSide {

      h1 {

        span {
          font-size: 25px;
        }
      }

      div {
        span {
          font-size: 20px;
        }
      }

    }

  }
}

@media (max-width: 415px) {
  .container {
    gap: 0;
    left: 50px;

    .leftSide {
      .photo {
        width: 200px;
        height: 200px;

        img {
          width: 200px;
          height: 200px;
        }
      }

    }

    .rightSide {
      h1 {

        span {
          font-size: 17px;
        }
      }

      div {
        span {
          letter-spacing: 1px;
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 394px) {
  .container {
    .rightSide {
      h1 {

        span {
          font-size: 15px;
        }
      }

      div {
        span {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 394px) {
  .container {
    .rightSide {
      h1 {

        span {
          letter-spacing: 4px;
        }
      }

      div {
        span {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 394px) {
  .container {
    .rightSide {
      div {
        span {
          font-size: 13px;
        }
      }
    }
  }
}