@import '../../scss/_variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 25%;
  background: $secondBgColor;
  transition: 0.5s;

  .content {
    h1 {
      color: $primaryColor;
      letter-spacing: 3px;
    }

    .navigation {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 18px;
      letter-spacing: 2px;
      align-self: start;
      padding: 50px 0 50px 0;


      a {
        text-decoration: none;
        color: $secondaryColor;
      }
      .activeLink {
        color: #fff;
        border-bottom: 1px solid #fff;
      }
    }

    span {
      color: $secondaryColor;
    }
  }
}



@media (max-width: 913px) {
  .container {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;

    .content {

      .navigation {
        font-size: 30px;
      }
    }
  }

  .active {
    opacity: 0;
    transform: scaleY(0);
  }
}

@media (max-width: 541px) {
  .container {

    .content {

      .navigation {
        font-size: 20px;
      }
    }
  }
}

