@import "src/scss/variables";

.App {
  position: relative;
  background: $bgColor;
  display: grid;
  max-width: 100vw;
  font-family: 'Tilt Neon', cursive;
}
//#light {
//  background: #fff;
//}





